Cube3D-ui/.angular
Cube3D-ui/.vscode
Cube3D-ui/dist
Cube3D-ui/node_modules
Cube3D-ui/package-lock.json

Cube3D-service/target
Cube3D-service/.classpath
Cube3D-service/.project
Cube3D-service/.settings
Cube3D-service/database

Security-service/target
Security-service/.classpath
Security-service/.project
Security-service/.settings
Security-service/database

vault-terraform/data
vault-terraform/certs