
<div class="parent">
    <div class="container">
        <div class="login-box robot-light">
            <h2>Login</h2>
            <form action="#">
                <div class="input-box">
                    <input type="text" [(ngModel)]="username" name="Username" required>
                    <label>Username</label>
                </div>
                <div class="input-box">
                    <input type="password" [(ngModel)]="password" name="Password" required>
                    <label>Password</label>
                </div>
                
                <button type="button" class="btn" (click)="onLogin()" >Login</button>
                 
            </form>
        </div>
        
    </div>
</div>