.mat-mdc-snack-bar-container.validation-cls{
    max-width: 100%;
    position: absolute;
    margin-bottom: 0;
    margin-right: 0;
    right: 10px;
    bottom: 10px;
    border-radius: 0px;
    width: 30vw;
    height: 30vh;
    background-color:#ffffff;
    overflow-y: auto;
  }
  
  .mat-mdc-snack-bar-container.info-cls{
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
  }
  
  .mat-mdc-snack-bar-container .mdc-snackbar__surface{
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 0;
  }
  
  .mat-mdc-snack-bar-container .mdc-snackbar__surface .mat-mdc-snack-bar-label{
    padding: 0;
    border-radius: 5px;
  }
  