<app-spinner *ngIf="isWait"></app-spinner>

<div content>
  <h1 class="sitename"><span>Willkommen bei Cube 3D</span></h1>
  <span class="item" style="margin-left: 20px">Current User:&emsp;{{currentUser}}</span>

  <div class="itemlist">
    <span class="item">Current Roles:&emsp;[</span>
    <div  *ngFor="let role of currentRoles; let isLast=last">
      <span class="item" *ngIf="!isLast">{{role}},&ensp;</span>
      <span class="item" *ngIf="isLast">{{role}}</span>
    </div>
    <span class="item">]</span>
  </div>
  <span class="item" style="margin-left: 20px">Current Provider:&emsp;{{currentProvider}}</span>
</div><!-- main content end-->

<footer>
  
</footer>